<div class="list row">
    <div class="col-md-6">
      <h4>User List</h4>
      <ul class="list-group">
        @for (user of users; track $index) {
            <li class="list-group-item" [class.active]="$index == currentIndex" (click)="setActiveUser(user, $index)">
                {{ user.name }} - {{ user.lastName }} - {{ user.email }}
            </li>
        }        
      </ul>
      <button (click)="changeViewmode">Change ViewMode</button>
    </div>
    <div class="col-md-6">
      <app-user-details
        [viewMode]="viewModel"
        [currentUser]="currentUser"></app-user-details>
    </div>
  </div>
